<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8 http-equiv="Content-Type"' />
  </head>
  <body>
    <h1>Welcome to Tessitura, <%= @user.first_name %>!</h1>
    <p>
      You have successfully signed up to Tessitura.io. To log in to the 
      site, please visit <a href='https://tessitura.io'>https://tessitura.io</a>
      and click the login link in the top right-hand corner.<br>
    </p>
    <p>
      If you did not sign up for Tessitura and received this in error, please
      e-mail me at <a href='mailto:ds@tessitura.io'>ds@tessitura.io</a>
      and she'll get this taken care of for you.<br>
    </p>
    <p>
      Thanks for joining our site and have a great day!<br>
    </p>
    <p>
      Dana Scheider<br>CEO, Tessitura
    </p>
  </body>
</html>