<div class='container'>
  <div class='row'>
    <div class='col-lg-6 col-lg-offset-3'>
      <h2 class='page-heading'>Editing Task</h2>

      <%= render 'edit_form' %>

      <%= link_to 'View Task', @task %>
    </div>
  </div>
</div>