<div class='container'>
  <div class='row'>
    <p id="notice"><%= notice %></p>
    <h1 class='page-header'>My Tasks</h1>
  </div>

  <% backlog = @tasks.select {|task| task.status.blank? } %>
  <% in_progress = @tasks.select {|task| task.status == 'In Progress' } %>
  <% blocking = @tasks.select {|task| task.status == 'Blocking' } %>

  <div id='kanban_board' class='row'>
    <div id='backlog_tasks' class='col-lg-4 kanban-col'>
      <div class='panel panel-primary dash-widget kanban-column'>
        <div class='panel-heading'><i class='fa fa-tasks fa-fw'></i> Backlog</div>
        <div class='panel-body'>
          <%= render 'list' %>
        </div>
      </div>
    </div>
    <div id='in_progress_tasks' class='col-lg-4 kanban-col'>
      <div class='panel panel-green dash-widget kanban-column'>
        <div class='panel-heading'><i class='fa fa-road fa-fw'></i> In Progress</div>
        <div class='panel-body'></div>
      </div>
    </div>
    <div id='blocking_tasks' class='col-lg-4 kanban-col'>
      <div class='panel panel-yellow dash-widget kanban-column'>
        <div class='panel-heading'><i class='fa fa-minus-circle fa-fw'></i> Blocking</div>
        <div class='panel-body'></div>
      </div>
    </div>
  </div>
  <div class='row'>
    <%= link_to 'New Task', new_user_task_path(current_user) %>
  </div>
</div>
