<div class='container'>
  <div class='row'>
    <div class='col-lg-6 col-lg-offset-3'>
      <div class='panel panel-primary'>
        <div class='panel-heading'><i class='fa fa-user fa-fw'></i> Edit Profile
      </div>
      <div class='panel-body'>

        <%= render 'form' %>

        <span class='pull-left'><%= link_to 'View Profile', @user %></span>
        <span class='pull-right'><%= link_to 'Back to Dashboard', dashboard_user_path(@user) %></span>
      </div>
    </div>
  </div>
</div>