<!-- About -->
<section id='about' class='about'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <h2>Tessitura makes it easy to manage your career and life as a classical singer.</h2>
        <p class='lead'>You have a lot to keep track of: Performances, rehearsals, 
          professional development, education, and more - not to mention the rest 
          of your life. Tessitura provides an easy way for you to stay
          on top of it all, managing everything from just one place.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>