<!-- Features -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id='features' class='services bg-primary'>
  <div class='container'>
    <div class='row text-center'>
      <div class='col-lg-10 col-lg-offset-1'>
        <h2>Features</h2>
        <hr class='small'>
        <div class='row'>
          <div class='col-md-3 col-sm-6'>
            <div class='service-item'>
              <span class='fa-stack fa-4x'>
              <i class='fa fa-circle fa-stack-2x'></i>
              <i class='fa fa-check fa-stack-1x text-primary'></i>
            </span>
              <h4>
                <strong>Flexible Task Management</strong>
              </h4>
              <p>Stay on top of all your professional and personal obligations</p>
            </div>
          </div>
          <div class='col-md-3 col-sm-6'>
            <div class='service-item'>
              <span class='fa-stack fa-4x'>
              <i class='fa fa-circle fa-stack-2x'></i>
              <i class='fa fa-thumb-tack fa-stack-1x text-primary'></i>
            </span>
              <h4>
                <strong>Audition Listings</strong>
              </h4>
              <p>Find listings of great performance opportunities all in one place</p>
            </div>
          </div>
          <div class='col-md-3 col-sm-6'>
            <div class='service-item'>
              <span class='fa-stack fa-4x'>
              <i class='fa fa-circle fa-stack-2x'></i>
              <i class='fa fa-rocket fa-stack-1x text-primary'></i>
            </span>
              <h4>
                <strong>Professional Development</strong>
              </h4>
              <p>Resources to help you become a better singer or educator</p>
            </div>
          </div>
          <div class='col-md-3 col-sm-6'>
            <div class='service-item'>
              <span class='fa-stack fa-4x'>
              <i class='fa fa-circle fa-stack-2x'></i>
              <i class='fa fa-mobile-phone fa-stack-1x text-primary'></i>
            </span>
              <h4>
                <strong>Mobile-Friendly Interface</strong>
              </h4>
              <p>Manage your time easily - access your account any time, any place</p>
            </div>
          </div>
        </div> <!-- end .row (nested) -->
      </div> <!-- end .col-lg-10 -->
    </div> <!-- end .row -->
  </div> <!-- end .container -->
</section>