<!-- Footer -->
<footer class='bg-primary'>
  <div class='container'>
    <div class='row'>
      <div id='contact' class='col-lg-10 col-lg-offset-1 text-center'>
        <h1>Contact Tessitura</h1>
        <ul class='list-unstyled'>
          <li><i class='fa fa-phone fa-fw'></i> (503) 720-6147</li>
          <li><i class='fa fa-envelope-o fa-fw'></i>  <a href='mailto:info@tessitura.io'>info@tessitura.io</a>
          </li>
        </ul>
        <hr class='small'>
        <p class='text-muted'>Copyright &copy; Tessitura 2016</p>
      </div> <!-- end .col-lg-10 .col-lg-offset-1 .text-center -->
    </div> <!-- end .row -->
  </div> <!-- end .container -->
</footer>