<!-- Portfolio -->
<section id='register' class='register'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-10 col-lg-offset-1 text-center'>
        <h2>Sign Up!</h2>
        <hr class='small'>
        <div class='row'>
          <div class='col-md-12'>
            <% @user ||= User.new %>
            <%= render partial: 'users/form' %>
          </div>
        </div><!-- end .row (nested) -->
      </div> <!-- end .col-lg-10 -->
    </div> <!-- end .row -->
  </div> <!-- end .container -->
</section>