$panel-red-color: #d9534f;
$panel-green-color: #5db85b;
$panel-blue-color: #418bca;
$panel-yellow-color: #f0ad4e;

#kanban_board, #task-panel {
  box-sizing: border-box;

  .panel-body {
    padding-left: 0;
    padding-right: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      i.fa-times:hover {
        color: $panel-red-color;
      }

      i.fa-check:hover {
        color: $panel-green-color;
      }

      th {
        padding-right: 0.75em;
        vertical-align: top;
      }
    }

    li:not(:last-child) {
      border-bottom: 1px solid #efefef;
      padding-bottom: 1em;
    }

    li.task {
      margin-top: -10px;
    }

    li.task,
    li.quick-add-form {
      padding: 0 1em 1em 1em;
    }

    li.quick-add-form:last-child,
    li.task:last-child {
      padding-bottom: 0;
    }
  }

  .panel-yellow ul {
    i.fa-pencil:hover {
      color: $panel-yellow-color
    }
  }

  .panel-body {
    padding-bottom: 0.25em
  }

  h3.task-list-title {
    font-size: 1.2em;

    a {
      color: #333
    }
  }
}

  #task-panel ul {
    i.fa-pencil:hover {
      color: $panel-blue-color
    }
  }
