#user_profile {
  .avatar {
    float: left;
    padding-right: 3em;
  }

  table {
    tr {
      height: 2em;
    }

    th {
      padding-right: 1em;
    }
  }
  
  span.form {
    display: none;
  }
}